<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studip_uni_passau.femtopedia.de.unipassaustudip">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/studip_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/studip_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ScheduleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studip_uni_passau.femtopedia.de.unipassaustudip.ScheduleActivity" />
        </activity>
        <activity
            android:name=".MensaActivity"
            android:label="@string/title_activity_mensa" />
    </application>

</manifest>